<li>

	{{burger_name}}
	{{#unless devoured}}
	<button class="change-status btn btn-success" data-id="{{id}}" data-newstatus="{{devoured}}">
		Devour
	</button>
	{{/unless}}

	<button class=" delete-burger btn btn-danger" data-id="{{this.id}}">Delete Burger</button>
	<br><br>
</li>